.items-panel {
  width: 85%;
  margin: 10px;
  padding: 10px;
  align-items:
}

.left-items {
    width: 40%;
    float: left;
}
.right-items {
    margin-left: 30px;
    width: 40%;
    float: left;
}

.breadcrumbs {
  font-size: 16px;
  margin-left: 5px;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
}

div[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  background-color: lightblue;
  width: 100%;
}

.selection {
  width: 100%;
}
